params.read  = '' 
read_ch = Channel.of(params.read) 
params.outsir = ''
outdir_ch = Channel.of(params.outdir)

process fastqc {

input:
 read
 

output:
 "${read.toString()}_fastqc"  into ${outdir}

"""
#!/bin/bash

mkdir ./${read.toString()}_fastqc
fastqc -t 16 -o ./${read.toString()}_fastqc --extract \$PWD/${read}
"""
}



workflow.onComplete {
println "##Pipeline execution summary##"
println "---------------------------"
println "##Completed at: $workflow.complete"
println "##Duration: ${workflow.duration}"
println "##Success: ${workflow.success ? 'OK' : 'failed' }"
println "##Exit status: ${workflow.exitStatus}"
}